




.user-users{
    display: flex;
    width: 100%;
    position: relative;
}

.user-avatar{
    border-radius: 50%;
    margin: 50%;
}

.user-name{
    margin-left: 40px;
    font-size: medium;
    text-align: left;
    padding-top: 5%;
}




  