.main{
    flex-direction: row;
    padding: 0 5px;
    box-sizing: border-box;
    
    
    height: 100%;
    padding-bottom: 20px;
    background-color: #1677ff;
}


.selection{
    width: 70%;
    height: 100%;
    background-color: #574b78;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
}

.call{
    width: 30%;
    height: 100%;
    background-color: #574b78;
   
    /* display: flex; */
   
}
