.banner-homepage{
    position: relative;
    margin-top: 3%;

}



.banner-image{

}

body{
    background-color: #EFF4FB;
    
}

.body-homepage{
    display: flex;
    margin-top: 2%;



}
.body-homepage-left{
    flex: 70%; 
}
.body-homepage-right{

}

.user-title{
    font-weight: bold;
    margin-top: 6%;
    text-align: start;
    margin-left: 7%;
}



.filter-post {
    background-color: white;
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: start; /* Center the content horizontally */
    padding: 5px;
    width: 85%;
    margin-left: 7%;
    border-radius: 5px;
    height: 50px;
  }

  .item-filter-post{
    flex: 20%;
    font-weight: bold;

    
  }
.post{
    background-color: white;
    margin-top: 3%;
    padding: 5px;
    width: 85%;
    margin-left: 7%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    height: fit-content;
}


.body-homepage-right{
    flex: 25%;
    background-color: white;
    height: fit-content;
    border-radius: 5px;
    margin-right: 5%;
    position: relative;
    z-index: 1  ;
}

.user-status{
    display: flex;

}
.user-status-item{
    flex: 35%;
    margin-left: 7%;
    margin-top: 5%;
    height: 40px;
}

.carousel-container{
    margin: 0 auto;
    place-items: center;
    width: 90%;

}
:where(.css-dev-only-do-not-override-w8mnev).ant-btn-primary {
    background-color: #1677ff;
}

@media only screen and (max-width: 1000px) {
    .body-homepage-left{
        width: 100%;
        display: block; 
    }
    .body-homepage-right{
        width: 85%;
        display: block;
        margin-left: 7%;
    }
    .body-homepage{
        display: block;
    }

    .filter-post{
        gap: 5rem;
    }
    .banner-homepage{
        margin-left: 2%;
        width: 94%;
    }
}